---
providers:
  config:
    class: octodns.provider.yaml.YamlProvider
    directory: ./
    enforce_order: False
  cloudflare:
    class: octodns_cloudflare.CloudflareProvider
    email: env/CLOUDFLARE_EMAIL
    token: env/CLOUDFLARE_TOKEN
    account_id: env/CLOUDFLARE_ACCOUNT_ID
    delete_pcent_threshold: 1.0

zones:
  transcental.dev.:
    sources:
      - config
    targets:
      - cloudflare
  transfemme.dev.:
    sources:
      - config
    targets:
      - cloudflare